@media all and (min-width: 1000px){
    body {
        max-width: 1000px;
        margin: auto; } }

@media all and (max-width: 1000px){
    body { margin: 1em; } }

body {
    font-family: hack;src:url("/hack.ttf"); }

/* position of email and pgp */
#contact {
    position: absolute;
    top: 7.2em; }

@media all and (min-width: 1000px){
    #contact { right: 10%; } }

@media all and (max-width: 1000px){
    #contact { right: 1em; } }

#pgp {
    position: absolute;
    font-size: 0.625em;
    top: 13.9em; }

@media all and (min-width: 1000px){
    #pgp { right: 10%; } }

@media all and (max-width: 1000px){
    #pgp { right: 1em; } }

/* position of contact */

.header {
    margin-top:10px;
    overflow: hidden;
}

.photo {
    float: left;
    width: 300px;
}

.contactinfo {
    float: left;
    width: calc(100% - 300px);
}

#mytitle {
    text-align: left;
    margin-left: 10px;
    font-size: 1.625em;
    border-bottom-style: solid;
    border-bottom-color: lightgray; }

#address {
    margin-top: 20px;
}

#address ul {
    list-style-type: none;
    margin-left: 10px;
    padding-left: 0;
}

/* Navigation bar */

.nav {
    /* position: sticky;  */
    top: 0;
}
.nav  ul {
    width: 100%;
    display: flex;
    /* justify-content: flex-end; */
    box-sizing: border-box;
    padding: 20px;
    background: #fff;
}

.nav li {
    list-style: none;
    margin-right: 20px;
    font-size: 25px;
    font-weight: bold;
}

/* Main body */


#outline-container-orgheadline2 li {
    margin: 1em;
    list-style-type: none; }

/* h1, h2, h3, h4 { */
/*     font-weight: normal; } */

h2 {
    margin-top: 60px;

}

h3 {
    margin-top: 30px;
}


h2::before {
  content: "# ";
}

#content {
   text-align: justify;
    color: #2e2e2e; 
}

.outline-text-3 {
    margin-left: 2em; }

h3 {
    margin-left: 1em;
    color: black;
    border-bottom-style: solid;
    border-bottom-color: lightgray; }

a {
    text-decoration: none;
    color: #4a708b; }

a:hover {
    text-decoration: underline; }

.img-link a {
    color: white; }

blockquote {
    border-left: 1px solid gray;
    padding-left: 4px; }

/* Biblio */
dd {
    display: list-item;
    list-style-type: disc;
    }

#doc-info {
    margin-top: 3em;
    margin: auto;
    float: center;
    text-align: center;
    font-size: 8pt;
    max-width: 75%; 
}

#bibliography h2 {
    display: none; /* hide section name output by bibtool */
}

/* Footer */
#footer {
    visibility: hidden; /*  do not display but keep space */
    /* display: none; /\* Do not display footer section name*\/ */

}


/* Gallery */

@media all and (min-width: 1000px){
    .parallax {
        height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        float: left; /* no spacing between  divs*/

        /* Full screen */
        width: calc(100vw - 200px);
        margin-left: calc(-50vw + 50% + 100px);
    }
}

@media all and (max-width: 1000px){
    .parallax {
        height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        float: left; /* no spacing between  divs*/
    }
}

.parallax h2{
  color: white;
  font-size: 50px;
  margin-top: 30px;
}

.parallax p{
  /* background-color: rgba(255, 255, 255, 0.5); */
  color: white;
  font-size: 14px;
  width: 30%;
  margin-top: 100px;
  margin-left: 10%;
}
